<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Current_event_clock.svg.png" type="image/png"/>
    
    
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/855d511330.js" crossorigin="anonymous"></script>
    <title>Get To It</title>
</head>

<body>
   
    <div class="container">
        {{{body}}}
    </div>

    
    <script type="module" src="scripts/scripts.js"></script>
    
</body>

</html>
