<h3><i class="far fa-clock"></i> Get To It</h3>
<div class="section">
    <p class="lead">Visually Log Your Pomodoro Sessions To Increase Your <span id="productivity">Productivity</span></p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log In With Google
    </a>
</div>