
@font-face {
  font-family: "marker";
  src: url(PermanentMarker-Regular.ttf);

}

@media only screen and (max-width: 1366px) {
 .app {
   width: 95% !important;
 }
 #clock {
   font-size: 3rem !important;
 }
}
@media only screen and (max-width: 1000px) {
  .app {
    width: 100% !important;
  }
  #clock {
    font-size: 2.5rem !important;
  }
  #burger {
    height: 75px !important;
  }
  #cupcake {
    height: 75px !important;
  }
  #coffee {
    height: 75px !important;
  }
  .focusContainer {
    display: none !important;
  }
  .consoleContainer {
    justify-content: center !important;
  }
 }
 @media only screen and (min-width: 1000px) {
   #tabButtons {
     display: none !important;
   }
 }
 


.container {
  
  display: flex;
  flex-direction: column;

}  



.app {
  background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
  display: grid;
  grid-template-rows: 12rem 1fr 15rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 25px;
  margin-top: 1em;
  height: 96vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.consoleContainer {
  grid-column: 1/5;
  grid-row: 2/3;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  
}

.breakButtonContainer {
  
  margin-top: 1rem;
  justify-self: center;
  display: grid;

  grid-template-columns: 6rem 6rem 6rem 6rem;
  grid-template-rows: 5rem 5rem 5rem 5rem 5rem;
  z-index: 3;
}

.focusContainer {
  margin-top: 1rem;
  justify-self: center;
  display: grid;
  grid-template-columns: 6rem 6rem 6rem 6rem;
  grid-template-rows: 4.1666rem 4.1666rem 4.1666rem 4.1666rem 4.1666rem 4.1666rem;
  z-index: 3;
  
}


#imgBox {
  grid-row: 3/4;
  grid-column: 1/5;
  display: inline-flex;
  flex-direction: row;
  padding-bottom: 100px;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2.5rem;
}

.badgeContainer {
  display: flex;
  align-items: center;
}

#coffee {
  height: 150px;
  z-index: 50;
  
}

#coffeeCounterText {
  font-size: 3rem;
  font-family: "marker";
  height: auto;
  
  
}

#burger {
  height: 150px;
  margin-right: 10px;
  z-index: 50;
  

}

#burgerCounterText {
  font-size: 3rem;
  font-family: "marker";
  height: auto;
}

#cupcake {
  height: 150px;
  z-index: 50;
}

#cupCakeCounterText {
  font-size: 3rem;
  font-family: "marker";
  height: auto;
}

#clock {
  font-size: clamp(1.5rem, 3.5rem, 5rem);
  text-align: center;
  font-family: 'marker';
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 1;
  align-self: center;
  text-shadow: 6px 6px 2px rgb(255, 255, 255);
  z-index: 15;
}


.imgGrow {
  transform: rotate(360deg) scale(3) translateY(350px);

  -webkit-transform: rotate(360deg) scale(3) translateY(350px);
  -o-transform: rotate(360deg) scale(3) translateY(350px);
  -moz-transform: rotate(360deg) scale(3) translateY(350px);
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

.coffeeBadge {
  transform: rotate(360deg) scale(3) translateY(350px);

  -webkit-transform: rotate(360deg) scale(3) translateY(350px);
  -o-transform: rotate(360deg) scale(3) translateY(350px);
  -moz-transform: rotate(360deg) scale(3) translateY(350px);
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

.burgerBadge {
  transform: rotate(360deg) scale(3) translateY(350px);

  -webkit-transform: rotate(360deg) scale(3) translateY(350px);
  -o-transform: rotate(360deg) scale(3) translateY(350px);
  -moz-transform: rotate(360deg) scale(3) translateY(350px);
  transition: all 2s ease-in;
  -webkit-transition: all 2s ease-in;
  -moz-transition: all 2s ease-in;
  -o-transition: all 2s ease-in;
}

p {
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  border-radius: 15px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 4px 10px 4px 10px;
  width: 30px;


  
  
}


p:hover {
  transform: scale(1.05);
  cursor: pointer;
}


.toggleButtons {
  
  grid-row: 5/6;
  grid-column: 1/5;
  
  flex-direction: row;
  justify-content: space-evenly;
  display: inline-flex;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
  border-radius: 0px 0px 69px 69px;
  
  }

#resetButton {
  width: 35%;
}

#pauseButton {
  width: 35%;
}



  
#breakHeader {
  font-family: 'marker';
  text-shadow: 6px 6px 2px rgba(233, 183, 183, 0.3);
  text-align: center;
  font-size: 3rem;
  background-color: aliceblue;
  
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
  grid-row: 3/4;
  grid-column: 1/5;
}

#breakButtons {
  grid-row: 4/5;
  grid-column: 1/5;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  
}
#workHeader {
  grid-row: 1/2;
  grid-column: 1/5;
  font-family: 'marker';
  text-shadow: 6px 6px 2px rgba(233, 183, 183, 0.3);
  text-align: center;
  font-size: 3rem;
  background-color: aliceblue;
  border-radius: 69px 69px 0px 0px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;

}


.workButtons {
  grid-row: 2/3;
  grid-column: 1/5;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
}

#shortWorkTimer {
  width: 35%;
  border-radius: 15px 0px 0px 15px;
}

#longWorkTimer {
  width: 35%;
  border-radius: 0px 15px 15px 0px;
}

#shortBreak {
  border-radius: 15px 0px 0px 15px;
  width: 14.5%;
}

#longBreak {
  border-radius: 0px 0px 0px 0px;
  width: 14.5%;
}

#thirtyBreak {
  border-radius: 0px 0px 0px 0px;
  width: 14.5%;
}

#sixtyBreak {
  border-radius: 0px 15px 15px 0px;
  width: 14.5%;
}




/* focus container guts */

#focusHeader {
  grid-row: 1/2;
  grid-column: 1/5;
  font-family: 'marker';
  text-shadow: 6px 6px 2px rgba(233, 183, 183, 0.3);
  text-align: center;
  font-size: 3rem;
  background-color: aliceblue;
  border-radius: 69px 69px 0px 0px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
  

}

#focusHeaderText {
  margin-top: -2%;
}

#focusOne {
  grid-row: 2/3;
  grid-column: 1/5;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
}

#focusOneText {
  text-align: left;
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  border-radius: 15px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 4px 10px 4px 10px;
  height: 1.8rem;
  align-self: center;
  font-size: 1.1rem;
  outline: none;
  border: none;
  margin-right: 5px;
  
}

#focusButtonOne {
  align-self: center;
  padding-left: 5px;
  font-size: 2.1rem;
}

#clearFocusOne {
  align-self: center;
  padding-left: 5px;
  font-size: 2.1rem;
}

#focusTwo {
  grid-row: 3/4;
  grid-column: 1/5;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
}

#focusTwoText {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  border-radius: 15px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 4px 10px 4px 10px;
  height: 1.8rem;
  align-self: center;
  font-size: 1.1rem;
  outline: none;
  border: none;
  margin-right: 5px;
  
}

#focusButtonTwo {
  align-self: center;
  padding-left: 5px;
  font-size: 2.1rem;
}


#focusThree {
  grid-row: 4/5;
  grid-column: 1/5;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
}

#focusThreeText {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 4px 10px 4px 10px;
  height: 1.8rem;
  align-self: center;
  font-size: 1.1rem;
  outline: none;
  border: none;
  margin-right: 5px;
  
}

#focusButtonThree {
  align-self: center;
  padding-left: 5px;
  font-size: 2.1rem;
}


#rewardHeader {
  grid-row: 5/6;
  grid-column: 1/5;
  font-family: 'marker';
  text-shadow: 6px 6px 2px rgba(233, 183, 183, 0.3);
  text-align: center;
  font-size: 3rem;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
  
  
}

#rewardHeaderText {
 margin-top: -2%;
  
}

#reward {
  grid-row: 6/7;
  grid-column: 1/5;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
  border-radius: 0px 0px 69px 69px;
}

#rewardText {
  text-align: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 15px;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 4px 10px 4px 10px;
  height: 1.8rem;
  align-self: center;
  font-size: 1.1rem;
  outline: none;
  border: none;
  margin-right: 5px;
  
}

#focusButtonReward {
  align-self: center;
  padding-left: 5px;
  font-size: 2.1rem;
}





.buttonPressed {
  color: white !important;
  background-color: #E27683 !important;
  transform: scale(1.1) !important;
  z-index: 5 !important;
}

.footer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  font-size: 0.8em;
  margin-top: 25px;
}

.footerTag {
  text-decoration: none;
}

.footerTag:visited {
  color: black !important;
}




/* background colour of focus text to change when set and locked in */

.focusSet {
  background-color: #e7d1d4;
}

.rewardSet {
  background-color: #e7d1d4;
}

.suggestActionClass {
  background-color: #c780b5;
 /* -webkit-transition: background-color 1000ms ease-in-out;
  -ms-transition: background-color 1000ms ease-in-out;
  transition: background-color 1000ms ease-in-out; */
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: suggestAction;
          animation-name: suggestAction;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes suggestAction {
  0% {
    background-color: aliceblue;
    color: black;
  }
  25% {
    background-color: #e7d1d4;
    color: white;
    webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    background-color: aliceblue;
    color: black;
  }
  75% {
    background-color: #e7d1d4;
    color: white;
    webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    background-color: aliceblue;
    color: black;
  }
}







.hamburger {
  position: absolute;
  cursor: pointer;
  right: 2.5%;
  top: 8.25%;
  transform: translate(-5%, -50%);
  z-index: 1601;
  box-sizing: content-box;
}

.nav-links {
  position: fixed;
  background: #E27683;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  clip-path: circle(60px at 90% 12%);
  -webkit-clip-path: ellipse(5% 12% at 90% 12%);
  transition: all 1s ease-out;
  pointer-events: none;
  z-index: 1500;
  top: 2%;
  right: 5.75%;
  justify-content: center;
  opacity: 0;
  list-style: none;
  
  
  
}
.nav-links.open {
  clip-path: ellipse(25% 40% at 56% 49%);
  -webkit-clip-path: ellipse(25% 60% at 56% 49%);
  pointer-events: all;
  background-color: aliceblue;
  z-index: 1600;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  flex-direction: column;
  opacity: 1;
  list-style: none;
  
}

.nav-links li {
  
  list-style: none;
}
.nav-links li a {
  color: black;
  text-decoration: none;
  
}
.nav-links li:nth-child(1) {
  transition: all 0.5s ease 0.2s;
}
.nav-links li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}
.nav-links li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
li.fade {
  opacity: 1;
}

#navBars {
  
  font-size: 5rem;
  color: white;
  
  cursor: pointer;
}

.menuButtons{
 
  text-align: center;
  
  
  width: 300px;
  text-decoration: none;

  font-size: 14px;
  text-align: center;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: aliceblue;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  padding: 3px;
  
  border-radius: 15px;
  
  margin-top: 60px;
}

#menuWrapper {
  margin-top: -3%;
  margin-left: 85px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#googleProfilePic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: 50%;
  margin-top: 5%;
  justify-self: center;
  margin: 0;
}

.addGrayscale {
  filter: grayscale(100%);
}


/* css for tab buttons only visible on mobile */


#tabButtons {
  height: 260px;
  width: 50px;
  border-radius: 0px 50px 50px 0px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  display: flex;
  background-color:aliceblue;
  align-items: center;
  justify-content: center;
  
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
}

.workTab {
  text-align: center;
  height: 35%;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  border-radius: 15px 15px 0px 0px;
  padding: 5px;
  cursor: pointer;
  z-index: 6 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
  
  
}

.focusTab {
  text-align: center;
  height: 35%;
  box-shadow: rgb(221, 44, 44, 0.3) 0px 2px 8px 0px;
  border-radius: 0px 0px 15px 15px;
  padding: 5px;
  cursor: pointer !important;
  z-index: 6 !important;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9rem;
}

.tabPressed {
  color: white !important;
  background-color: #E27683 !important;
  transform: scale(1.1) !important;
  z-index: 5 !important;
}

.enableTab {
  display: grid !important;
}

.disableTab {
  display: none !important;
}